.contactFormContainer {
    position: relative;
    flex: 0 0 75%;
    top: -100px;
    left: -5%;
}

.contactMain {
    padding: 0;
}

.contactMain .wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .contactForm {
        box-shadow: 25px 25px $accentColour;
        padding: 80px 40px 40px 40px;
        background: $mainColour2;
        color: #ffffff;
        ::placeholder {
            color: #ffffff;
        }

        input,
        textarea {
            background: rgba(26, 49, 92, 0);
            border: none;
            color: #ffffff;
        }

        input:focus,
        textarea:focus {
            background: lighten($mainColour2, 10);
        }

        input {
            border-bottom: 2px solid $accentColour;
            width: 100%;
        }

        label {
            display: block;
            padding-left: 25px;
        }

        div.message {
            label {
                display: block;
                width: 100%;
            }
            border: 2px solid $accentColour;
            margin: 40px 0;
            width: 100%;
            padding: 40px 0;

            textarea {
                width: calc(100% - 50px);
                padding: 5px 0;
                margin: 0 25px;
            }
        }

        button {
            width: 100%;
            border: none;
            background: $mainColour;
            font-family: $headerFont;
            text-transform: lowercase;
        }
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .contactInfo {
            width: 48%;
        }
    }

    

    .contact {
        flex: 0 0 21%;
        p {
            margin: 0;
        }

        .email {
            margin-bottom: 10px;
        }
    }
}