header {
    background: url(../assets/headerHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    min-height: 700px;
    a {
        color: $secondaryColour;
        font-weight: bold;
        line-height: 2.9rem;
        letter-spacing: 0.14px;
        text-align: center;
        padding: 20px;
    }

    // li:last-child a {
    //     padding-right: 0;
    // }
}

header.contact {
    background: url(../assets/contactHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 60vh;
    min-height: 300px;
}

header.blog {
    background: url(../assets/blogHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 70vh;
    min-height: 300px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        text-transform: uppercase;
        position: relative;
        left: 20px;
    }

    li.currentPage a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 20%;
            width: 60%;
            height: 2.5px;
            background: $accentColour;
        }

    li {
        position: relative;
        a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 20%;
            width: 60%;
            height: 2.5px;
            background: rgba(12, 173, 192,0);
        }
        a:hover::after,
        a:focus::after {
           background: rgba(12, 173, 192,1);
           transition: 250ms;
        }
    }

    
}
    


h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5.8rem;
    line-height: 6.8rem;
    color: $secondaryColour;
    width: 55%;
    font-weight: normal;
}

h1.contact,
h1.blog {
    font-size: 6.8rem;
    line-height: 6.4rem;
    margin-top: 100px;
}

a.logo {
    font-family: $headerFont;
    color: $logoColour;
    font-size: 3rem;
    line-height: 2.4rem;
    letter-spacing: .17rem;
}


.headerImage {
    width: 56%;
    position: relative;
    img {
        position: absolute;
        top: 50px;
    }
}