section:nth-of-type(2),
section:nth-of-type(3) {
    background-color: $mainColour2;
}

section:nth-of-type(1),
section:nth-of-type(4),
main {
    background-color: $mainColour;
}

.moreLink {
    font-family: $headerFont;
    text-transform: lowercase;
    padding: 0 25px 3px;
    color: $mainColour;
    background-color: $secondaryColour;

    &:hover,
    &:focus {
        color: $secondaryColour;
        background: rgba(204, 237, 251, 0);
        border: 1px solid $secondaryColour;
        transition: 250ms;
    }
}

.icon-background {
    color: #0CADC0;;
}
.articles .moreLink {
    color: $secondaryColour;
    background-color: $mainColour;

    &:hover,
    &:focus {
        color: $mainColour;
        background: rgba(204, 237, 251, 0);
        border: 1px solid $mainColour;
    }
}

.newTechniques {
    padding: 220px 0 120px 0;
    display: flex;

    p {
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    div:first-of-type {
        flex: 0 1 calc(100% * .75);
        padding-right: 150px;
    }
    div:last-of-type {
        flex: 0 1 calc(100% * .25);
        img {
            box-shadow: -25px 25px $accentColour;
        }
    }
}

.gallery {
    padding: 100px 0;
    li:nth-of-type(2) {
        padding: 0 25px;
    }
}

main {
    padding: 60px 0;
    ul {
        position: relative;
        flex-wrap: wrap;
    }

    li {
        position: relative;
        padding-left: 50px;
        width: 50%;
    }

    li:nth-of-type(1),
    li:nth-of-type(3) {
        padding-right: 25px;
    }

    div.icon {
        width: 5.2rem;
        height: 5.2rem;
        background: $accentColour;
        border-radius: 50%;
        padding: 0;
        position: absolute;
        left: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.8rem;
        color: #ffffff;
    }
}

.articles {
    padding: 40px 0;
    h3, 
    p {
        color: $mainColour;
        margin-top: 0;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
        width: 45%;
    }
    div:nth-of-type(2) {
        margin-right: 10%;
    }
    
    div:nth-of-type(3) {
        order: 1;
    }

    div:nth-of-type(4) {
        text-align: right;
        margin-left: 10%;
        margin-top: 100px;
    }

    div:nth-of-type(2),
    div:nth-of-type(4) {
        padding: 50px 0;
        width: 35%;
    }
    .leftImage {
        position: relative;
        img {
            box-shadow: 25px 25px $accentColour;
            position: absolute;
            top: -75px;
        }
    }

    .rightImage {
        position: relative;
        img {
            box-shadow: -25px 25px $accentColour;
            position: absolute;
            bottom: -75px;
        }
    }
}

.searchByStyle .wrapper {
    padding: 150px 0;
    text-align: center;
    h2 {
        margin-bottom: 15px;
    }
    p {
        padding-bottom: 50px;
        margin: 0;
    }
}

footer {
    background-color: #111211;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    p {
        margin: 0;
    }
}
