section:nth-of-type(2),
section:nth-of-type(3) {
    background-color: $mainColour2;
}

section:nth-of-type(1),
section:nth-of-type(4),
main {
    background-color: $mainColour;
}

.moreLink {
    font-family: $headerFont;
    text-transform: lowercase;
    padding: 0 25px 3px;
    color: $mainColour;
    background-color: $secondaryColour;

    &:hover,
    &:focus {
        color: $secondaryColour;
        background: rgba(204, 237, 251, 0);
        border: 1px solid $secondaryColour;
        transition: 250ms;
    }
}

.icon-background {
    color: #0CADC0;;
}
.articles .moreLink {
    color: $secondaryColour;
    background-color: $mainColour;

    &:hover,
    &:focus {
        color: $mainColour;
        background: rgba(204, 237, 251, 0);
        border: 1px solid $mainColour;
    }
}

.newTechniques {
    padding: 220px 0 120px 0;
    display: flex;

     @include laptopSmall {
               padding: 60px 0;
            }

    p {
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    div:first-of-type {
        flex: 0 1 calc(100% * .75);
        padding-right: 150px;
         @include laptopSmall {
                padding: 60px 0 40px;
            }
    }
    div:last-of-type {
        flex: 0 1 calc(100% * .25);
         @include laptopSmall {
                width: 60%;
            }

        @include smallTablet{
              width: 100%;  
            }

        img {
            box-shadow: -25px 25px $accentColour;
            @include smallTablet{
                box-shadow: none;
            }
        }
    }

     @include laptopSmall {
         flex-direction: column-reverse;
         align-items: center;
    }
}

.gallery {
    padding: 100px 0;
    li:nth-of-type(2) {
        padding: 0 25px;
    }

    @include largeTablet {
        padding: 40px 0;
    }

    @include largeTablet {
        ul {
            flex-direction: column;
        }

        li:nth-of-type(2) {
            padding: 40px 0;
        }
    }
}

main {
    padding: 60px 0;
    ul {
        position: relative;
        flex-wrap: wrap;
    }

    li {
        position: relative;
        padding-left: 50px;
        width: 50%;

         @include laptopSmall {
                width: 100%;
            }
    }

    li:nth-of-type(1),
    li:nth-of-type(3) {
        padding-right: 25px;

        @include smallTablet {
        padding-right: 0;
        }
    }

    div.icon {
        width: 5.2rem;
        height: 5.2rem;
        background: $accentColour;
        border-radius: 50%;
        padding: 0;
        position: absolute;
        left: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.8rem;
        color: #ffffff;
    }

    .wrapper {
        width: 80%;
    }
}

.articles {
    padding: 40px 0;
    h3, 
    p {
        color: $mainColour;
        margin-top: 0;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include laptopSmall {
        justify-content: center;
    }

    div {
        flex: 0 2 45%;

        @include laptopSmall {
        flex: 0 0 80%;
        }

        @include smallTablet {
        flex: 0 0 90%;
        }
    }
    div:nth-of-type(2) {
        margin-right: 10%;
        @include laptopSmall {
            margin: 60px 0;
        }
    }
    
    div:nth-of-type(3) {
        order: 1;
         @include laptopSmall {
                order: initial;
            }
    }

    div:nth-of-type(4) {
        text-align: right;
        margin-left: 10%;
        margin-top: 100px;

        @include laptop {
            margin-top: 40px;
            text-align: left;
            margin: 60px 0;
        }
    }

    div:nth-of-type(2),
    div:nth-of-type(4) {
        padding: 50px 0;
        flex: 0 0 35%;

        @include laptop {
            padding: 10px 0;
        }
        @include laptopSmall {
            flex: 0 0 75%;
        }

        @include smallTablet {
            flex: 0 0 90%;
        }
    }

    .leftImage {
        position: relative;
        img {
            box-shadow: 25px 25px $accentColour;
            position: absolute;
            top: -75px;

            @include laptopSmall {
                position: static;
            }

            @include smallTablet{
                box-shadow: none;
            }
        }

        @include laptopSmall {
                flex: 0 0 80%;
            }

        @include smallTablet {
            flex: 0 0 90%;
        }  
    }

    .rightImage {
        position: relative;
        img {
            box-shadow: -25px 25px $accentColour;
            position: absolute;
            bottom: -75px;
            
            @include laptopSmall {
                position: static;
                width: 100%;
                box-shadow: 25px 25px $accentColour;
            }

            @include smallTablet{
                box-shadow: none;
            }
        }
         @include laptopSmall {
                width: 100%;
            }
    }
}


.searchByStyle .wrapper {
    padding: 150px 0;
    text-align: center;
    h2 {
        margin-bottom: 15px;
    }
    p {
        padding-bottom: 50px;
        margin: 0;
    }

    @include largeTablet{
        padding: 60px 0;
        text-align: left;
        p {
            padding-bottom: 20px;
        }
   }
}


footer {
    background-color: #111211;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    p {
        margin: 0;
    }
}
