$mainColour: #CCEDFB;
$secondaryColour: #1A315C;
$accentColour: #0CADC0;
$logoColour: #1E1713;
$textColour: #161515;
$headerFont: 'Pacifico', cursive;
$mainFont: 'Lato', sans-serif;

$footercolour: #111211;